<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<%- include('../partials/head') %>
			<%- include('../partials/headDataTable') %>
		</head>
	<body>
		<header>
				<%- include('../partials/header') %>
		</header>
		<main>
			<div class="container-fluid">
				<h1 class="centro">Relação de Editoras</h1>
				<div class="row">
					<div class="col col-sm-3"></div>
					<div class="col col-sm-6">
						<div class="jumbotron" style="margin: 10px;">
							<table class="table table-hover" id="tabela">
								<thead class="thead-dark">
									<tr>
										<th>ID</th>
										<th>Editora</th>
										<th>Ação</th>
									</tr>
								</thead>
								<tbody>
									<% for( let i = 0; i < publishers.length; i++ ) { %>
										<tr>
											<td><%= publishers[i].id %> </td>
											<td><a href="/editora/mostra?id=<%= publishers[i].id %>" title="Detalha/Edita Editora" ><%= publishers[i].name %> </a></td>
											<td>
												<a href="/editora/apagar?id=<%=publishers[i].id %>" class='confirmation' title="Apaga Editora" onclick="return confirm('Tem certeza que deseja apagar?');">
													<i class="fa fa-trash" style="color:crimson"></i><span style="color: crimson"> Apagar</span>
												</a>
											</td>
										</tr>		     
									<% } %>
								</tbody>
							</table>
							<div class="row" style="margin-top: 5px;">
								<div class="col-sm"></div>
								<div class="col-sm">
									<a href="/" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">Home</a>
									<a href="/editora" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">Nova Editora</a>
								</div>
								<div class="col-sm-3"></div>
							</div> <!-- div botoes  -->
						</div> <!--div jumbotron -->
					</div> <!-- div col table-->
					<div class="col col-sm"></div>
				</div> <!--div row -->
			</div>
		</main>		
		<footer>
			<%- include('../partials/footer') %> 
		</footer>
	</body>
</html> 

