<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<%- include('../partials/head') %>
			<style>
			</style>  
		</head>
	<body>
		<header>
				<%- include('../partials/header') %>
		</header>
		<main>
			<div class="container-fluid">
				<h1 class="centro">Nova Editora</h1>
				<div class="jumbotron">
					<table>
						<tr>
							<td>Id</td>
							<td>Editora</td>
						</tr>
						<tr>
							<td><%= publisher.id%>  </td>
							<td><%= publisher.name %>  </td>
						</tr>
					</table>
				</div>
	</main>		
	<footer>
		<%- include('../partials/footer') %> 
	</footer>
	</body>
</html>