<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<%- include('../partials/head') %>
		</head>
	<body>
		<header>
				<%- include('../partials/header') %>
		</header>
		<main>
			<div class="container-fluid">
				<% console.log(validator);  %> 
				<% if(validator !== undefined) {%>
					<div class="alert alert-danger" role="alert">
						<ul>
							<% for( var i = 0; i < validator.errors.length; ++i) { %> 
								<li>
									<%= validator.errors[i].msg %>
									<% console.log('deu esse erro ==>>', validator.errors[i].msg); %>
								</li>
							<% } %> 
						</ul>
					</div>
				<% } %> 

        <%- include {page} %> 

      </div><!-- div container-fluid-->
		</main>
		<footer>
			<%- include('../partials/footer') %> 
		</footer>
	</body>
</html>