<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<%- include('../partials/head') %>
			<%- include('../partials/headDataTable') %>
		</head>
	<body>
		<header>
				<%- include('../partials/header') %>
		</header>
		<main>
			<div class="container-fluid">
				<h1 class="centro" >Relação de Livros</h1>
					<div class="row">
						<div class="col col-sm"></div>
						<div class="col col-sm-10">
							<div class="jumbotron">
								<table class="table table-hover" id="tabela">
									<thead class="thead-dark">
										<tr>
											<th>ID</th>
											<th>Título</th>
											<th>Autor</th>
											<th>Editora</th>
											<th>Categoria</th>
											<th>Ação</th>
										</tr>
									</thead>
									<tbody>
										<% for( let i = 0; i < books.length; i++ ) { %>
											<tr>
												<td><%= books[i].id %> </td>
												<td><a href="/livro?id=<%= books[i].id %>" title="Detalha/Edita Livro"> <%= books[i].title %></a> </td>
												<td><%= books[i].author %> </td>
												<td><%= books[i].publisher %> </td>
												<td><%= books[i].category %> </td>
												<td>
													<a href="#" class='confirmation' title="Apaga Livro" onclick="return confirm('Tem certeza que desejas apagar?');">
														<i class="fa fa-trash" style="color:crimson"></i><span style="color: crimson"> Apagar</span>
													</a>
												</td>
											</tr>
										<% } %>
									</tbody>	     
								</table>
								<div class="row" style="margin-top: 20px;">
									<div class="col-sm"></div>
									<div class="col-sm-auto">
										<a href="/" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">Home</a>
										<a href="/novo_livro" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">Novo Livro</a>
									</div>
									<div class="col-sm"></div>
								</div> <!-- div botoes-->
							</div> <!-- div jumbotron-->
						</div> <!-- div col-->
						<div class="col col-sm"></div>
					</div> <!--div row-->
				</div> <!--div container-fluid-->
		</main>
		<footer>
			<%- include('../partials/footer') %> 
		</footer>			 
	</body>
</html>