<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<%- include('../partials/head') %>
		</head>
	<body>
		<header>
				<%- include('../partials/header') %>
		</header>
		<main>
			<div class="container-fluid">
				<h1 class="centro">Cadastro de Livro</h1>
				<div class="jumbotron">
					<div class="row">
						<div class="col col-sm"></div>
						<div class="col col-sm">				
							<div action="/books/save" method="post">
								<div class="form-group">
										<label for="book">Nome do Livro</label>
										<input type="text" class="form-control" id="book" name="book" placeholder= "Informe o nome compleo do livro"/>
									<label class="form-label" for="author">Autor:</label>
									<select class="form-select form-control" id="author" name="author">
										<option selected>Selecione o autor</option>
										<% for(let i =0; i < authors.length; i++) {%>
											<option value="<%= authors[i].id %>"><%= authors[i].name%></option>
										<% } %> 
									</select>
									<label for="publisher">Editora:</label>
									<select class="form-select form-control" id="publisher" name="publisher">
										<option selected>Selecione a Editora</option>
										<% for(let i =0; i < publishers.length; i++) {%>
											<option value="<%= publishers[i].id %>"><%= publishers[i].name%></option>
										<% } %> 
									</select>
									<label for="publisheddate">Data de publicação:</label>
									<input class="form-control" type="date" id="publisheddate" name="publisheddate">
									<label for="category">Categoria:</label>
									<select class="form-select form-control" id="category" name="category">
										<option selected>Selecione a categoria</option>
										<% for(let i =0; i < categories.length; i++) {%>
											<option value="<%= categories[i].id %>"><%= categories[i].category%></option>
										<% } %> 
									</select>					
									</select>
						
									<label for="isbn_13">Código ISBN-13:</label>
									<input class="form-control" type="number" id="isbn_13" name="isbn_13">
									<label for="sinopsis">Sinopse:</label>
									<textarea name="sinopsis" rows="5" cols="60">
										O livro comenta sobre ....
									</textarea>
									<label for="imageLink">Link da Imagem de capa:</label>
									<input class="form-control" type="url" id="imageLink" name="imageLink">
									<br>
									<div class="row">
										<div class="col">
											<input class="btn btn-primary btn-sm" type="submit" value="Submit">
											<a href="/livros" class="btn btn-danger btn-sm" tabindex="-1" role="button" aria-disabled="true">Cancela</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col col-sm"></div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<%- include('../partials/footer') %> 
		</footer>
	</body>
</html>
