<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<%- include('../partials/head') %>
			<%- include('../partials/headDataTable') %>
		</head>
	<body>
		<header>
				<%- include('../partials/header') %>
		</header>
		<main>
			<div class="container-fluid">
				<h1 class="centro">Relação de Categorias</h1>
				<div class="row">
					<div class="col col-sm-3"></div>
					<div class="col col-sm-6">
						<div class="jumbotron">
							<table class="table table-hover" id="tabela">
								<thead class="thead-dark">
									<tr>
									<th>ID</th>
									<th>Categoria</th>
									<th>Ação</th>
									</tr>
								</thead>
								<tbody>
									<% for( let i = 0; i < categories.length; i++ ) { %>
										<tr>
											<td><%= categories[i].id %> </td>
											<td><a href="/categoria/mostra?id=<%= categories[i].id %>" title="Detalha/Edita Categoria" ><%= categories[i].category %></a></td>
											<td>
												<a href="/categoria/apaga?id=<%=categories[i].id %>" class='confirmation' title="Apaga Categoria">
													<i class="fa fa-trash" style="color:crimson"></i><span style="color: crimson"> Apagar</span>
												</a>
											</td>
										</tr>		     
									<% } %>
								</tbody>
							</table>
							<div class="row" style="margin-top: 20px;">
								<div class="col-sm"></div>
								<div class="col-sm-auto">
									<a href="/" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">Home</a>
									<a href="/categoria" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">Nova categoria</a>
								</div>
								<div class="col-sm"></div>
							</div> <!-- div botoes-->
						</div> <!-- div jumbotron -->
					</div> <!-- div col tabela-->
					<div class="col col-sm-3"></div>
				</div> <!-- div row -->
			</div>
		</main>
		<footer>
			<%- include('../partials/footer') %> 
		</footer> 
	</body>
</html>