<html lang="pt-br">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col col-sm"></div>
          <div class="col col-sm">
            <div class="jumbotron">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title centro">Categoria</h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-sd-center">
                    <div class="col col-sm"></div>
                    <div class="col col-sm">
                      <p>Id: <%= category.id%> </p> 
                      <p>Categoria: <%= category.category %></p>
                    </div>
                    <div class="col col-sm"></div>
                  </div><!--div row card-body-->
                </div><!--div card-body-->
              </div><!-- div card-->
              
            </div><!--div jumbotron-->
          </div><!--div col-sm-->
          <div class="col col-sm"></div>
        </div>
      </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-sm"></div>
          <div class="col-sm-auto">
            <a href="/categoria?id=<%= category.id %>" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">Editar</a>
            <a href="/categorias/lista" class="btn btn-primary btn-sm">Voltar</a>
          </div>
          <div class="col-sm"></div>
        </div>
      </div>
	  </div>
    </main>
    <footer>
      <%- include('../partials/footer') %> 
    </footer> 
	</body>
</html>